//colors


$main_color: #b21b42;
$white: #ffffff;
$grey: #ccc;
$green: #04a204;
$dark_grey: #3f3f3f;
$black: #000000;
$black-bg: #1C1C1C;
$unactiv: #b21b428c;
$blue: #489bca;
$ovewrlay: #00000042;
$red: #a20404;
$shadow: 0 0 20px rgba(0, 0, 0, 0.2);


//screen sizes

$small-desktop: 1440px;
$big-tablet: 1024px;
$tablet: 800px;
$small-tablet: 650px;
$mobile: 500px;





