//colors


$main_color: #b21b42;
$white: #ffffff;
$grey: #717171;
$dark_grey: #3f3f3f;
$black: #000000;
$black-bg: #1C1C1C;
$unactiv: #b21b428c;
$ovewrlay: #00000042;
$red: red;
$shadow: 0 0 20px rgba(0, 0, 0, 0.2);




